{% extends 'base.html' %}
{% load static %}
{% load tz %}
<!-- Title -->
{% block title %}Edit Patient{% endblock title %}

<!-- Navbar -->
{% block nav-content %}
<i class="fas fa-user-edit"></i>&nbsp;&nbsp;Edit Patient
{% endblock nav-content %}

<!-- Time Block -->
{% block time %}
<div class="col-sm">
    <center><span id="clock" style="color: #89cff0;"></span></center>
</div>
{% endblock time %}

<!-- Logout Button -->
{% block btn-nav %}
<a class="btn btn-outline-danger btn-sm border-light text-light" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
{% endblock btn-nav %}

<!-- Main Content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <!-- Header -->
            <div class="card card-body border-dark text-primary mt-5">
                <span class="text-center txt-sm">UPDATE PATIENT DETAILS</span>
            </div>

            <!-- Django Messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <!-- Edit Form -->
            <form action="{% url 'edit_patient' patient.id %}" method="POST" autocomplete="off" enctype="multipart/form-data" class="card p-3 border-dark mt-3 mb-5">
                {% csrf_token %}
                <input type="hidden" name="patient_id" value="{{ patient.id }}">

                <!-- Name -->
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text side-label"><span class="txt-sm">Name</span></span>
                    <input type="text" name="name" id="name" class="form-control" placeholder="First and Last name" required maxlength="40"
                           value="{{ patient.name }}">
                </div>

                <!-- Phone -->
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text side-label"><span class="txt-sm">Phone</span></span>
                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Patient phone"
                           value="{{ patient.phone }}">
                </div>

                <!-- Email -->
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text side-label"><span class="txt-sm">Email</span></span>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Patient email" maxlength="40"
                           value="{{ patient.email }}">
                </div>

                <!-- Age -->
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text side-label"><span class="txt-sm">Age</span></span>
                    <input type="number" name="age" id="age" class="form-control" placeholder="Patient age" required
                           value="{{ patient.age }}">
                </div>

                <!-- Gender -->
                <div class="input-group input-group-sm mb-3">
                    <label for="gender" class="input-group-text side-label"><span class="txt-sm">Gender</span></label>
                    <select name="gender" id="gender" class="form-select" required>
                        <option value="" hidden>Select the gender</option>
                        <option value="M" {% if patient.gender == "M" %}selected{% endif %}>Male</option>
                        <option value="F" {% if patient.gender == "F" %}selected{% endif %}>Female</option>
                    </select>
                </div>

                <!-- Registered Date -->
                <div class="mb-3">
                    <label for="created_at" class="form-label">Registered Date</label>
                    <input type="datetime-local" class="form-control" id="created_at" name="created_at"
                    value="{{ patient.created_at|default:None|date:'Y-m-d\\TH:i'|default_if_none:'' }}">
                </div>

                <!-- Notes -->
                <div class="form-group">
                    <textarea name="note" id="note" rows="7" class="form-control txt-sm" placeholder="Description is optional....">{{ patient.note }}</textarea>
                </div>

                <!-- Buttons -->
                <div class="d-grid gap-2 mt-2">
                    <button type="submit" class="btn btn-primary btn-sm txt-sm">
                        <i class="fas fa-save"></i>&nbsp;&nbsp;Update
                    </button>
                    <a href="{% url 'backend' %}" class="btn btn-dark btn-sm txt-sm">
                        <i class="fas fa-chevron-left"></i>&nbsp;&nbsp;Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
